header{
    display: flex;
    justify-content: space-evenly ;
}
h1{
    border: 2px solid #000;
    padding-top: 10px;
}
img{
    border-radius: 100%;
}  
article{
    display: flex;
    justify-content: space-evenly;

}
.list-group{
    text-align: center;
    margin: 10px;
    
}
.list-group-item{
    width: 200px;
    height: 40px;
    border: 1px solid black;
    margin: 8px;
}
